# Node
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Next.js
.next/
out/
.vercel/

# Environment
.env
.env.local
.env.production
.env.development

# OS & editor
.DS_Store
.vscode/
.idea/

# Logs
logs
*.log